		{{#each products}}
			<div class="container mt-2 mb-2">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                    src="https://esonlineservice.com/wp-content/uploads/2019/10/PLC-Logo-24CE-Siemen-1.jpg"></div>
                            <div class="col-md-6 mt-1">
                                <h5>{{this}}</h5>
                                <div class="d-flex flex-row">
                                </div>
                                <h6></h6>
                                <p class="text-justify  para mb-0"><br><br></p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$ </h4>
                                </div>
                                <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm mt-2"
                                   onclick={addProduct()} type="button">Agregar a carrito</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

		{{/each}}