<head>
    <title>Restablecer contraseña</title>
</head>
<section class="noAutorizado">
    <div class="container login nonono">
        <h1>Restablecer contraseña</h1>
        <form id="restoreForm">
            <div class="form-group">

                <label for="email"> Email:</label>

                <!-- Email input -->
                
                <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" />
                </div>

            </div><br>
            <div class="col-auto">
                <input type="submit" class="btn btn-success" value="Restablecer contraseña">
            </div>
        </form>
    </div>
</section>
<script src="/js/restore.js"></script>