        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="row w-10">
               

                <div class="col-lg-4 mt-0 mb-0 mb-lg-0">
                    <h4 class="mt-2 mb-4">Ubicación</h4>
                    <p class="lead">
                        555 Montevideo 
                        <br />
                        Uruguay
                        <br />
                    </p>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mt-2">Contactenos</h4>
                <!-- Section: Social media -->
                    <section class="mb-4 mt-4">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-outline-dark btn-floating m-10">
                            <svg class="bi d-block mx-auto mb-1" width="36" height="36">
                                <use xlink:href="#facebook" />
                            </svg>
                        </a>
                
                        <!-- Twitter -->
                        <a href="https://twitter.com/" target="_blank" class="btn btn-outline-dark btn-floating m-10">
                            <svg class="bi d-block mx-auto mb-1" width="36" height="36">
                                <use xlink:href="#twitter" />
                            </svg>
                        </a>
                
                        <!-- Google -->
                        <a href="https://mail.google.com/mail/" target="_blank" class="btn btn-outline-dark btn-floating m-10">
                            <svg class="bi d-block mx-auto mb-1" width="36" height="36">
                                <use xlink:href="#gmail" />
                            </svg>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/" target="_blank" class="btn btn-outline-dark btn-floating m-10">
                            <svg class="bi d-block mx-auto mb-1" width="36" height="36">
                                <use xlink:href="#instagram" />
                            </svg>
                        </a>
                    </section>
                </div>
                <div class="col">
                    <div class="col-lg-0 mt-2 mb-0 mb-lg-0">
                        <a href="index.html" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#home" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg-0 mt-0 mb-0 mb-lg-0">
                        <a href="productos.html" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#grid" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg-0 mt-0 mb-0 mb-lg-0">
                        <a href="pedidos.html" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#table" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </footer>