<header id="header">
    <div class="px-1 py-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="iconHome">
                        <use xlink:href="#iconHome" />
                    </svg>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="/" class="nav-link text-white" id="principal">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#home" />
                            </svg>
                            Principal
                        </a>
                    </li>
                    <li>
                        <a href="/products/?page=1" class="nav-link text-white" id="products">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#grid" />
                            </svg>
                            Productos
                        </a>
                    </li>
                    <li>
                        <div>
                            <a href="/cart" class="nav-link text-white" id="cart">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#carrito" />
                                </svg>
                                
                                <span {{#ifEqual user.rol "ADMIN_ROLE"}}class="count-products2" {{/ifEqual}} class="count-products" >{{{cantidadCarrito}}}</span>
                                
                                Carrito
                            </a>
                        </div>
                    </li>
                    <li>
                        {{#ifEqual user.rol "ADMIN_ROLE"}}
                        <a href="/profile?view=info" class="nav-link text-white" id="chat">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#people-circle" />
                            </svg>
                            Profile
                        </a>
                        {{/ifEqual}}
                        {{#ifEqual user.rol "PREMIUM_ROLE"}}
                        <a href="/profile?view=info" class="nav-link text-white" id="chat">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#people-circle" />
                            </svg>
                            Profile
                        </a>
                        {{/ifEqual}}
                        {{#ifEqual user.rol "USER_ROLE"}}
                        <a href="/profileUser" class="nav-link text-white" id="chat">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#people-circle" />
                            </svg>
                            Profile
                        </a>
                        {{/ifEqual}}

                        {{#ifEqual user.rol undefined}}
                        <a href="/profileUser" class="nav-link text-white" id="chat">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#people-circle" />
                            </svg>
                            Profile
                        </a>
                        {{/ifEqual}}
                    </li>
                    {{#ifEqual user.rol "ADMIN_ROLE"}}
                        <li>
                            <a href="/userList" class="nav-link text-white" id="chat">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#speedometer2" />
                                </svg>
                                List
                            </a>
                        </li>
                    {{/ifEqual}}
                    <li>
                        <a id="btn_logout" href="/login" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <use xlink:href="#logout" />
                            </svg>
                            Logout
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


</header>
<script src="/js/headers.js"></script>
<script src="/js/logout.js"></script>